<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8">
    <title>MASTER OF RECIPES - {% block tittle %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/icon.png">
    <meta charset='utf-8'>
    {% block style_css%} {% endblock %}
</head>
<body>
<header>
    {% block header %} {% endblock %}
    <nav>
        <ul id="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/signin">Login</a></li
            <li><a href="/users">Usuarios registrados</a></li>
            <li><a href="/recipes">Recetas</a></li>
            <li><a href="/sobre">Acerca de</a></li>
            <li><a href="/comments">Comenta</a></li>
            <li><a href="/contact">Contacta con nosotros</a></li>
        </ul>
    </nav>
</header>
<section class="content">
    {% block content %} {% endblock %}
</section>
<footer>
    <p><a href="/close">Cerrar sesión</a> </p>
   <p>Proyecto demo para asimilar conceptos de django.&copy;2015</p>
</footer>
</body>
</html>