{% extends 'BASE.html' %}
{% block header %}
<h1>Contacta</h1>
{% endblock %}
{% block content %}
<form id="form1" method="post" action="">{% csrf_token %}{{ form.as_p}}
    <p><input type="submit" value="Enviar"></p>
</form>
{% endblock %}