{% extends 'BASE.html' %}
{% comment %} esto esun com%entario que va a serinorado. {% endcomment %}
{% block tittle %} Inicio {% endblock %}


{% block header %}
    <h1>Recetas</h1>
{% endblock %}

{% block content %}
<p>Acualmente hay registradas :
    {% with total=recipes.count %}
        {{ total }} receta{{ total|pluralize }}
    {% endwith %}
</p>
<ul>
    {% for dato in recipes %}
        <li class="{% cycle 'impar' 'par' %}">{{ dato.tittle  }}</li>
        {% empty %}
        <li> No hay recetas registradas todavía. </li>
        {% endfor %}
</ul>
{% endblock %}

