{% extends 'BASE.html' %}
{% block tittle %}Nuevo Usuario{% endblock %}
{% block header %}
    <h1>Registra un nuevo usuario</h1>
{% endblock %}
{% block content %}
<form id="form" method="post" action="">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <p><input type="submit" value="Registro"/></p>
</form>
{% endblock %}