{% extends 'BASE.html' %}
{% block tittle %}Error de acceso{% endblock %}
{% block header %}
<h1>
    Error de acceso
</h1>
{% endblock %}
{% block content %}
<p>El usuario y la contraseña no coinciden o no existen.</p>
{% endblock %}