{% extends 'BASE.html' %}
{% block tittle %}Bienvenido{% endblock %}
{% block header %}
<h1>Bienvenido</h1>
{% endblock %}
{% block content %}
<p>Bienvenido {{ user.username|upper }},
la última vez que estuviste conectado fue el {{ user.last_login }}.</p>
<p>Eres miembro desde {{ user.date_joined }}</p>
{% endblock %}