{% extends 'BASE.html' %}
{% block tittle %} Recetas disponibles {% endblock %}


{% block header %}
    <h1>Nuestras super-recetas</h1>
{% endblock %}

{% block content %}
    <a href="/recipes/newrecipe">Agregar una receta</a>
    <br>
    <ul>
        {% for dato in datos %}
            <li>
                <a href="{% url 'principal.views.recipe_detail' dato.id %}">{{dato.tittle}}</a><br>
                <img src='{{dato.get_image_url}}'><br>
            </li>
        {% empty %}
            <li>No hay recetas registradas</li>
        {% endfor %}
    </ul>

{% endblock %}