{% extends 'BASE.html' %}
{% block tittle %}
    <h1>{{ recipe.tittle|title }}</h1>
{% endblock %}

{% block content %}
<div id='ingrediets'>
    <h2>Ingredientes</h2>
    <p>{{ recipe.ingredients }}</p>
</div>
<div id='preparation'>
    <h2>Preparación</h2>
    <p>{{ recipe.preparation }}</p>
</div>
<div id='referencia'>
     <img src='{{ recipe.get_image_url }}'>
</div>
<div id='comentarios'>
  <h2>Comentarios</h2>
        {% for item in comments %}
            <p>{{ item.text }}</p>
        {% empty %}
            <p>Sin comentarios ni trolleadas</p>
        {% endfor %}
</div>
<footer>
    <p>Resistrado {{ recipe.register_time|date:'SHORT_DATETIME_FORMAT' }} por {{ recipe.user }}</p>
</footer>
{% endblock %}