{% extends 'BASE.html' %}
{% block content %}
<form id="formrecipe" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
{{ form.as_p }}
<p>
    <input type="submit" value="Confirmar"/>
</p>
</form>
{% endblock %}