{% extends 'BASE.html' %}
{% block tittle %}Ingresar{% endblock %}
{% block header %}
    <h1>
        Ingresa
    </h1>
{% endblock %}
{% block content %}
    <form id="lform" method="post" action="">
    {% csrf_token %}
    <table>{{ form }}</table>
    <p><input type="submit" value="Ingresar"/></p>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}