{% extends 'BASE.html' %}
{% block tittle %}Usuario desactivado{% endblock %}
{% block header %}
<h1>
    El usuario no está activo
</h1>
{% endblock %}
{% block content %}
<p>Contacte con un administrador para resolver el problema.</p>
{% endblock %}