{% extends 'BASE.html' %}
{% block tittle %} Usuarios registrados {% endblock %}

{% block header %}
    <h1>Colaboradores</h1>
{% endblock %}

{% block content %}
<ul>
    {% for dato in users %}
        <li>{{dato.username|capfirst}} - <em>{{ dato.email }}</em>
            <ul>{% for item in recipes %}
                {% if item.user == dato %}
                    <li>{{item}}</li>
                {% endif %}
            {% empty %}
                <li>Este usuario no ha registrado recetas todavía.</li>
            {% endfor %}
            </ul>
        </li>
        {% empty %}
        <li>Ningún usuario registrado.</li>
    {% endfor %}
</ul>
{% endblock %}