/* Some css examples */
body, header, footer, div, h1, h2, ul, li, a, img {
    margin:0; padding: 0;
}
header {
    background-color: #008500;
    color: #ffffff;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.activo {
    font-weight: bold;
}
.impar {
    background-color: #90ee90;
}
.par {
    background-color: #5acc5a;
}
img {
    width: 100px;
}